<!-- templates/index.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>Chat with AI</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function () {
				var socket = io.connect(
					location.protocol + '//' + document.domain + ':' + location.port
				);

				socket.on('connect', function () {
					$('#sendButton').on('click', function () {
						var message = $('#messageInput').val();
						socket.emit('send_message', { message: message });
						$('#messageInput').val('');
					});
				});

				socket.on('receive_message', function (data) {
					$('#messages').append(
						'<div><b>Response:</b> ' + data.message + '</div>'
					);
				});
			});
		</script>
	</head>
	<body>
		<div id="chatbox">
			<div id="messages"></div>
			<input type="text" id="messageInput" />
			<button id="sendButton">Send</button>
		</div>
	</body>
</html>
