<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Application</title>
    <link rel="stylesheet" href="static/styles/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js" defer></script>
    <script src="/static/scripts/script.js" defer></script>
</head>
<body>
    <div id="chat-container">
        <div id="message-container"></div>
        <div id="actions-container">
        </div>
        <div id="send-container">
            <input type="text" id="message-input" placeholder="Type your message here..." />
            <button id="send-button">Send</button>
        </div>
    </div>
</body>
</html>

